<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api.mapper.CustomerMapper">
    <insert id="create">
        INSERT INTO customer VALUES (
                                        #{id, jdbcType=VARCHAR},
                                        #{username, jdbcType=VARCHAR},
                                        #{email, jdbcType=VARCHAR},
                                        #{phoneNumber, jdbcType=VARCHAR},
                                        #{postCode, jdbcType=VARCHAR}
                                    )
    </insert>
    <select id="findById" resultType="api.model.Customer">
        SELECT * FROM customer
    </select>
    <select id="select" resultType="api.model.Customer">
        SELECT * FROM customer
    </select>
</mapper>